html, body {
	height: 100%;
	width: 100%;
}

.bg {
	background-image: url(https://images.unsplash.com/photo-1415045550139-59b6fafc832f?ixlib=rb-0.3.5&s=7b3c5c3517f092a29f559f7a570938a8&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;
}

.container {
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 5rem;
}

.btn {
	padding: 10px 25px 10px 25px;
	border-radius: 20px;
	font-weight: bold;
	font-size: 1.4rem;
	transition: transform, 0.5s;

}

.btn:hover {
	transform: scale(1.1);
}